{{#each surveys as |survey|}}

  <div id="view-all-surveys-handlebars" class="card" data-id="{{survey.id}}">
    <div class="card-body col-sm-2 col-med-2" style="background-color: white; width: 31.5%; min-height: 300px; margin: 10px; padding-top: 20px;">
      <div class="show-options col-xs-12 response-message">
        <h3><b>Question:</b> {{survey.question}}</h3>
        <form class="survey-response-form" data-id="{{survey._id}}">
          <fieldset>
            <h3><input type="radio" name="response" value="True"><b>&nbsp;True</b></h3>
            <h3><input type="radio" name="response" value="False"><b>&nbsp;False</b></h3>
          </fieldset>
          <button style="margin: 15px 5px;" type="submit" class="btn btn-success submit-response" data-class="submit-response" data-id='{{survey._id}}'>SUBMIT RESPONSE</button>
          <button style="margin: 15px 5px;" class="btn btn-info view-responses" data-class="view-responses" data-id='{{survey._id}}'>VIEW ALL RESPONSES</button>
        </form>
      </div>
    </div>
  </div>

{{/each}}
