{{#each surveys as |survey|}}

  <div class="handlebars" id="survey-{{survey._id}}">
    <div class="card-body col-sm-2 col-med-2" style="background-color: white; width: 31.5%; min-height: 300px; margin: 10px; padding-top: 20px;">
      <h3 data-id={{survey._id}}><strong>Question:</strong> {{survey.question}}</h3>
      <form class='update-survey' data-id="{{survey._id}}">
        <input type="text" name="survey[question]" tabindex="4" class="form-control" placeholder="{{survey.question}}" required>
        <button style="margin: 15px 5px;" type="submit" class="btn btn-info btn-style">UPDATE SURVEY</button>
        <button style="margin: 15px 5px;" class="btn btn-danger btn-style delete-survey" data-id='{{survey._id}}'>DELETE SURVEY</button>
      </form>
    </div>
  </div>

{{/each}}
