{{#each newSurvey as |surveys|}}
  {{#each surveys as |survey|}}
    <div class="handlebars" id="survey-{{survey._id}}">
      <!-- <h1 data-id="{{survey._id}}"><small>Title: {{survey.title}}</small></h1> -->
      <p data-id={{survey._id}}><strong>Question:</strong> {{survey.question}}</p>
      <p data-id={{survey._id}}><strong>Survey ID:</strong> {{survey._id}}</p>
      <form class="delete-survey survey-forms">
        <fieldset>
          <input type="text" class="hidden "name="survey[id]" value="{{survey._id}}" data-id={{survey._id}} required>
          <input type="submit" class="btn btn-default" value="Delete This Survey">
        </fieldset>
      </form>
    </div>
  {{/each}}
{{/each}}
